.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.winner {
  width: 300px;
}

.title {
  color: #1D355D;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.correct-answer {
  color: #1D355D;
  font-size: 1.25rem;
  margin-top: 0;
}

.score {
  color: #6FCF97;
  font-weight: 700;
  font-size: 2rem;
}

.button {
  background: transparent;
  border-radius: 0.75rem;
  border: 2px solid #1D355D;
  color: #1D355D;
  cursor: pointer;
  font-size: 1.10rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgba(47, 102, 197, 0.1);
}
